@mixin Wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@mixin columnWrap {
  @include Wrap;
  flex-direction: column;
}

@mixin rowWrap {
  @include Wrap;
  flex-direction: row;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background-blur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  // background-color: rgba(255, 255, 255, 0.2) !important;
}
