<!-- <br />
<br />
<div class="container fadeInLeft">
  <h2>Upload Logos & Images</h2>

  <hr />
  <mat-card>
    <mat-card-title>
      <h2>Drop Zone</h2>
    </mat-card-title>

    <div
      class="dropzone"
      appdropZone
      (hovered)="toggleHover($event)"
      (dropped)="startUpload($event)"
      [class.hovering]="isHovering"
    >
      <p>Drag and Drop a File</p>
      <div class="file is-warning is-boxed">
        <label class="file-label">
          <input
            class="file-input"
            type="file"
            (change)="startUpload($event.target.files)"
          />

          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label"> or choose a file… </span>
          </span>
        </label>
      </div>
    </div>
  </mat-card>

  <br />

  <div *ngIf="percentage | async as pct" class="centering">
    <progress class="progress is-info" [value]="pct" max="100"></progress>

    {{ pct | number }}%
  </div>

  <div *ngIf="snapshot | async as snap" class="centering">
    {{ snap.bytesTransferred | fileSize }} of
    {{ snap.totalBytes | fileSize }} uploaded

    <div *ngIf="downloadURL | async as url">
      <h3>Upload Complete!</h3>
      <img [src]="url" /><br />
      <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
    </div>

    <hr />

    <div class="field is-grouped">
      <p>
        <button
          mat-raised-button
          (click)="task.pause()"
          color="primary"
          class="button is-warning control"
          [disabled]="!isActive(snap)"
        >
          Pause
        </button>
        <button
          mat-raised-button
          (click)="task.cancel()"
          color="accent"
          class="button is-danger control"
          [disabled]="!isActive(snap)"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          (click)="task.resume()"
          color="accent"
          class="button is-info control"
          [disabled]="!(snap?.state === 'paused')"
        >
          Resume
        </button>
      </p>
    </div>
  </div>
</div> -->
