@use "/src/app/styles/mixins.scss" as mixins;

.rowWrap {
  align-items: stretch !important;
  @include mixins.rowWrap;
}

button.mat-raised-button:hover {
  letter-spacing: 0.3em;
}

button.mat-raised-button {
  letter-spacing: 0em;
  transition: all 0.5s ease-in;
}

mat-card {
  max-width: 22rem;
  min-height: 350px;
  padding: 0px;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

mat-card-content {
  margin: 5px;
  align-self: center;
  flex-grow: 1;
  text-align: justify;
}

mat-card-actions {
  margin-top: 25px;
  display: block;
  align-self: center;
  width: 80%;
}

.card-heading {
  display: flex;
  align-items: center;
  white-space: break-spaces;
  justify-content: space-evenly;
}

.highlight-left {
  border-left: 4px solid #6dbb94;
  transition: border 0.2s ease-in-out;
}

.highlight-right {
  border-right: 4px solid #6dbb94;
  transition: border 0.2s ease-in-out;
}

.highlight-left-red {
  border-left: 4px solid #f44336;
  transition: border 0.2s ease-in-out;
}

.highlight-right-red {
  border-right: 4px solid #f44336;
  transition: border 0.2s ease-in-out;
}

.card-image-top {
  border-radius: 24px;
  box-sizing: inherit !important;
  height: 190px !important;
  position: relative !important;
}

.avatar-image {
  width: 50%;
  height: 150px;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/assets/Tier1Example.PNG");
  background-size: cover;
}

.avatar-image2 {
  @extend .avatar-image;
  background-image: url("/assets/Tier2Example.PNG");
  background-size: cover;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-family: "Bungee";
}

.mat-product-button {
  border-radius: 12px;
  text-align: center;
  width: 100%;
}

h4 {
  text-align: center;
  font-family: "Quicksand";
}
