.pricing-container {
  justify-content: center;
  align-items: center;
}

.pricing-card {
  width: 400px;
}

.open-button {
  align-self: flex-end; /* Aligns the button to the right */
}
.price {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}
.price-period {
  font-size: 1rem;
  font-weight: normal;
}
.purchase-button {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
}
mat-card-actions {
  padding: 16px !important;
}
mat-error {
  text-align: center;
  margin-top: 10px;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* In your component's .css file */

/* 
  Target the internal wrapper that Angular Material creates inside the list item.
  This is the container that holds your icon and text.
*/
::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  align-items: center;
  gap: 12px; /* Adds a nice space between the icon and the text */
}
