.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 60 {
  @keyframes particle-animation-#{$i} {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.5;
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translate3d(
        #{random(150)}px,
        #{random(200)}px,
        #{random(100)}px
      );
      opacity: 0;
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 50s infinite;
    $size: random(10) + 5 + px;
    height: $size;
    width: $size;
    z-index: inherit;
    opacity: calc(random(100) / 100);
    animation-delay: -$i * 300ms;
    transition: ease-in-out;
    transform: translate3d(
      (random(90) * -10px),
      (random(90) * -10px),
      (random(100) * -10px)
    );
    max-width: inherit;
  }

  .celebration:nth-child(#{$i}) {
    background: hsl(random(360), 70%, 50%);
  }
}
