<div [@itemState] class="center-item">
<h1>Who am I? and what is Gravita Tech</h1>

<h3>I'm Andrew Mulleady and I have created GravitaTech to help your business put its strongest foot forward online</h3>
<div class="center-item">
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="University">
    <mat-icon class="fas fa-university fa-4x mat-icon-styling"></mat-icon>
    <ul>
      <li>Attended National University of Ireland, Galway</li>
      <li>Achieved a 2:1 in Bachelor of Commerce</li>
      <li>Achieved a 2:1 in h.Dip in Software Design & Development</li>
    </ul>

  </mat-tab>
  <mat-tab label="Career">
    <mat-icon class="fas fa-portrait fa-4x mat-icon-styling"></mat-icon>
    <ul>
    <li>Full-time I.T professional located in Ireland.</li>
    <li>2 years experience developing web applications.</li>
  </ul></mat-tab>
  <mat-tab label="Portfolio">
    <mat-icon class="fas fa-briefcase fa-4x mat-icon-styling"></mat-icon>
    <ul>
      <li>Extensive collection of applications on my Github account.</li>
      <li>Practiced advanced topics in Angular/Ionic.</li>
      <li>Practiced server-side programming, by creating projects using the MEAN stack.</li>
    </ul>
    </mat-tab>
</mat-tab-group>
</div>
<br>
  <div class="center-item">

    <a href="https://github.com/mulleady96">

<button mat-button color="accent">Follow me on Github
  <mat-icon class="fab fa-github"></mat-icon>
</button>
</a>
</div>
</div>
