<div class="center-item">
  <div class="fadeInLeft">
    <h1>About Me</h1>
    <h3>I'm Andrew Mulleady and I'm a front-end developer based in Ireland.</h3>

    <div>
      <mat-tab-group mat-align-tabs="center">
        @for (tab of tabDetails; track tab) {
          <mat-tab label="{{ tab.label }}">
            <mat-list fxLayout="column wrap" fxLayoutAlign="center center">
              @for (detail of tab.listItems; track detail) {
                <mat-list-item mat-line>
                  <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon
                    >{{ detail }}
                  </mat-list-item>
                }
              </mat-list>
            </mat-tab>
          }
        </mat-tab-group>
      </div>

      <a href="https://github.com/mulleady96" target="_blank" rel="noreferrer">
        <button mat-button color="accent">
          Follow me on Github
          <mat-icon class="fab fa-github"></mat-icon>
        </button>
      </a>
      <a
        href="https://www.linkedin.com/in/andrew-mulleady-a6222a171/"
        target="_blank"
        rel="noreferrer"
        >
        <button mat-button color="accent">
          Follow me on LinkedIn
          <mat-icon class="fab fa-linkedin"></mat-icon>
        </button>
      </a>
    </div>
  </div>
