@use "/src/app/styles/mixins.scss" as mixins;

.rowWrap {
  @include mixins.rowWrap;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

.mat-product-button {
  border-radius: 12px;
  min-width: 275px;
  text-align: center;
}

div {
  text-align: center;
}
