h1 {
  /* font-size: 1.2em; */
  font-family: 'Major Mono Display';
  color: #ecf0f1;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  font-family: 'Montserrat';
  margin-top: 0;
  padding-top: 0;
  padding-left: 5px;
}

nav a {
  /* padding: 5px 10px; */
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607d8b;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a.active {
  color: #039be5;
}

mat-sidenav {
  padding-top: 100px;
  background: #F7F9FA;
  display: flex;
  justify-content: center;
  width: 250px;
}

mat-sidenav-content {
  /* background: white; */
}

.router-link-active {
  background-color: #ABDEEA;
  border-bottom: 2px solid red;
}

  .main-container {
    height: 100vh;
  }

.example-spacer {
  /* background: linear-gradient(180deg, #3878a7 95%, #093466 15%); */
}

/* img {
  cursor: pointer; 
  height: 60px;
  width: 60px;
} */

.icon-logo {
  height: 60px;
  width: 60px;
}

img {
  cursor: pointer;
}
