h1 {
  /* font-size: 1.2em; */
  color: #ecf0f1;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  font-family: "Montserrat";
  margin-top: 0;
  padding-top: 0;
  padding-left: 5px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  flex-direction: row;
  display: flex;
  place-content: center space-around;
  align-items: center;
  color: rgb(45, 56, 67);
  transition: none;
}

.side-menu-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

::ng-deep .mat-drawer-container {
  height: 100vh;
  background-color: #dad4d4;
}

mat-sidenav {
  display: flex;
  width: 180px;
  padding: 12px 5px 12px 5px;
  border-radius: 0px 25px 25px 0px;
  top: 25px;
  bottom: 25px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

::ng-deep .mat-slide-toggle-content {
  white-space: pre !important;
}

.mat-button {
  border-radius: 24px;
  justify-content: center;
  display: inline;
}

.header-button {
  border-radius: 30% 70% 70% 30% / 50% 43% 57% 50%;
}

.github-header-button {
  border-radius: 71% 29% 24% 76% / 50% 43% 57% 50%;
}

.mat-toolbar {
  backdrop-filter: blur(8px);
  padding-left: 0px;
  padding-right: 0px;
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.2) !important;
  align-self: center;
  top: 0;
  left: 0;
  position: fixed;
  border-radius: 24px;
  text-align: center;
  z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}

.router-link-active {
  outline: 2px solid;
  // animation: pulse 8s;
}

// Wave Keyframe
@keyframes spread-animation {
  0% {
    transform: scalex(0);
    opacity: 0.25;
    transform-origin: right;
  }
  100% {
    transform: scalex(1);
    opacity: 1;
    transform-origin: left;
  }
}

.icon-logo {
  height: 100px;
  mix-blend-mode: overlay;
  // width: auto;
  -webkit-animation: fadeInDown 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeInDown 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.bottomSocial {
  padding: 10px;
  display: flex;
  bottom: 20px;
  place-self: center;
}

img {
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: #929191;
  border-color: #727278;
  border-radius: 9999px;
  border-width: 1px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

// keyframes
// TODO: make animations file like mixin.
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, 0, 0);
  }
}
