<div [ngClass]="{ 'dark-theme': isDarkTheme | async }">
  <mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')">
      <h2>
        {{ title }}
      </h2>
      <br />
      <!-- // mat-list of buttons  -->
      <div fxLayout="column" fxLayoutAlign="space-between start">
        <button
          *ngFor="let button of navigationButtons"
          mat-button
          routerLinkActive="router-link-active"
          [attr.aria-label]="button.ariaLabel"
          routerLink="{{ button.routerLink }}"
        >
          <mat-icon color="accent">{{ button.icon }}</mat-icon>
          {{ button.ariaLabel }}
        </button>
      </div>
      <hr />
      <mat-slide-toggle
        [checked]="isDarkTheme | async"
        (change)="toggleDarkTheme($event.checked)"
      >
        <mat-icon color="accent">{{ iconValue }}</mat-icon>
        {{ themeDescription }}
      </mat-slide-toggle>
      <div class="bottomSocial" fxLayoutGap="35px">
        <a
          href="https://github.com/mulleady96"
          target="_blank"
          rel="noreferrer"
        >
          <button mat-button color="accent" aria-label="Github button">
            <mat-icon class="fab fa-github"></mat-icon>
          </button>
        </a>
        <a
          href="https://www.linkedin.com/in/andrew-mulleady-a6222a171/"
          target="_blank"
          rel="noreferrer"
        >
          <button mat-button color="accent" aria-label="LinkedIn">
            <mat-icon class="fab fa-linkedin"></mat-icon>
          </button>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content (swiperight)="sidenav.open()">
      <mat-toolbar
        id="toolbar"
        fxLayout="row"
        fxLayoutAlign="space-around center"
      >
        <div>
          <button
            mat-mini-fab
            color="accent"
            (click)="sidenav.open(); menuToggleEvent()"
            aria-label="List"
            class="header-button"
          >
            <mat-icon>list</mat-icon>
          </button>
        </div>
        <img
          class="icon-logo"
          [src]="imageSRC"
          routerLink="/home"
          alt="GravitaTech Logo"
        />
        <div>
          <a
            href="https://github.com/mulleady96"
            fxLayoutAlign="flex-end"
            target="_blank"
            rel="noreferrer"
          >
            <button
              mat-mini-fab
              matTooltip="View Github Account"
              color="accent"
              aria-label="Github button"
              class="github-header-button"
            >
              <mat-icon class="fab fa-github"></mat-icon>
            </button>
          </a>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
