<div [ngClass]="{ 'dark-theme': isDarkTheme }">
  <mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')">
      <h2>
        {{ title }}
      </h2>
      <div fxLayout="column">
        @for (button of navigationButtons; track button) {
          <button
            class="side-menu-button"
            mat-button
            routerLinkActive="router-link-active"
            [attr.aria-label]="button.ariaLabel"
            routerLink="{{ button.routerLink }}"
            >
            <mat-icon color="accent">{{ button.icon }}</mat-icon>
            {{ button.ariaLabel }}
          </button>
        }
      </div>
      <mat-slide-toggle
        [checked]="isDarkTheme"
        (change)="onThemeChange($event.checked)"
        >
        <span>
          {{ themeDescription }}
        </span>
      </mat-slide-toggle>
      <div class="bottomSocial" fxLayoutGap="35px">
        <a
          href="https://github.com/mulleady96"
          target="_blank"
          rel="noreferrer"
          >
          <button mat-mini-fab color="accent" aria-label="Github button">
            <fa-icon [icon]="['fab', 'github']"></fa-icon>
          </button>
        </a>
        <a
          href="https://www.linkedin.com/in/andrew-mulleady-a6222a171/"
          target="_blank"
          rel="noreferrer"
          >
          <button mat-mini-fab color="accent" aria-label="LinkedIn">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
          </button>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content (swiperight)="sidenav.open()">
      <mat-toolbar
        id="toolbar"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        >
        <mat-toolbar-row>
          <div>
            <button
              mat-mini-fab
              color="primary"
              (click)="sidenav.open()"
              aria-label="List"
              >
              <mat-icon>list</mat-icon>
            </button>
          </div>
          <img
            class="icon-logo"
            [src]="imageSRC"
            routerLink="/home"
            alt="Andrew Mulleady Logo"
            />
            <div>
              <app-pricing-card></app-pricing-card>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
