h1 {
  /* font-size: 1.2em; */
  color: #ecf0f1;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  font-family: "Montserrat";
  margin-top: 0;
  padding-top: 0;
  padding-left: 5px;
}

.side-menu-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-buttons-container {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-drawer-container {
  height: 100vh;
  background-color: #dad4d4;
}

mat-sidenav {
  display: flex;
  width: 180px;
  padding: 12px 5px 12px 5px;
  border-radius: 0px 25px 25px 0px;
  top: 25px;
  bottom: 25px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

::ng-deep .mat-slide-toggle-content {
  white-space: pre !important;
}

.mat-button {
  border-radius: 24px;
  justify-content: center;
  display: inline;
}

.header-button {
  border-radius: 30% 70% 70% 30% / 50% 43% 57% 50%;
}

.github-header-button {
  border-radius: 71% 29% 24% 76% / 50% 43% 57% 50%;
}

.router-link-active {
  outline: 2px solid;
  // animation: pulse 8s;
}

// Wave Keyframe
@keyframes spread-animation {
  0% {
    transform: scalex(0);
    opacity: 0.25;
    transform-origin: right;
  }
  100% {
    transform: scalex(1);
    opacity: 1;
    transform-origin: left;
  }
}

.bottomSocial {
  padding: 10px;
  display: flex;
  bottom: 20px;
  place-self: center;
  gap: 35px;
}

::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: #929191;
  border-color: #727278;
  border-radius: 9999px;
  border-width: 1px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}
