<div fxLayout="column wrap" fxLayoutAlign="space-evenly center">
  <button
    *ngIf="showArticle"
    (click)="selectedBlog()"
    mat-mini-fab
    color="accent"
    class="backButton"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 [appTypingAnimation] *ngIf="!showArticle">Bloggi</h1>
  <!-- <app-auth></app-auth> -->
  <!-- <h4 *ngIf="this.currentUser">Hi, {{ this.currentUser }}</h4> -->
  <!-- <app-email-sign-up></app-email-sign-up> -->
  <!-- <mat-form-field
    color="accent"
    fxLayout="column"
    fxLayoutAlign="space-evenly stretch"
    appearance="outline"
  >
    <mat-label [appTypingAnimation]>Bloggi is here to help!</mat-label>
    <textarea
      #BloggiTextarea
      matInput
      rows="2"
      (keydown.enter)="sendQuery($event)"
      [disabled]="this.limit == 0"
      [(ngModel)]="markdownText"
      placeholder="Ask me anything!"
    >
    </textarea>
    <button mat-mini-fab color="accent" class="custom-button">
      <mat-icon (click)="sendQuery()"> search </mat-icon>
    </button>
    <mat-hint *ngIf="this.limit == 0"
      >Bloggi is currently sleeping and will be available tomorrow.</mat-hint
    >
  </mat-form-field> -->
</div>

<div>
  <div
    *ngIf="!showArticle"
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
  >
    <mat-card
      (click)="selectedBlog(i)"
      *ngFor="let response of responses; index as i"
      class="card"
    >
      <p [innerHTML]="response.response | markdown"></p>
    </mat-card>
  </div>
  <!-- <mat-chip-list>
    <mat-chip
      *ngFor="let chip of chips"
      [selected]="chip.selected"
      (click)="toggleSelection(chip)"
    >
      {{ chip.name }}
    </mat-chip>
  </mat-chip-list> -->
  <!-- <mat-form-field appearance="fill" color="accent">
    <mat-label>Select an option</mat-label>
    <mat-select [(ngModel)]="selectedValue">
      <mat-option
        *ngFor="let response of allContent"
        [value]="response.response"
        [innerHTML]="response.response | markdown"
      >
        <p>{{ response.response }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- <mat-card
    *ngFor="let response of allContent"
    [innerHTML]="response.response | markdown"
    >{{ response.response }}
  </mat-card> -->
</div>
<!-- <button [appCopy]>Copy</button> -->
<div fxLayout="column" style="margin: 0 20px">
  <!-- Assuming markdownContent is an array -->

  <!-- *ngFor="let response of markdownContent; let last = last" -->

  <!-- <h1>{{ response.prompt }}</h1> -->
  <div
    class="padTop"
    fxFlex="50%"
    *ngIf="showArticle"
    [innerHTML]="this.responses[selectedValue].response | markdown"
  ></div>
</div>
