
<app-search-button (searchChange)="onSearchChange($event)"></app-search-button>
@if (search) {
  <div>
    <mat-chip-set aria-label="Sort By Location">
      @for (location of locations; track location) {
        <mat-chip
          selected="location.selected"
          matBadge="{{ location.locationCount }}"
          (click)="toggleSelection(location)"
          [ngClass]="{ selected: location.selected }"
          >
          {{ location.name }}
        </mat-chip>
      }
    </mat-chip-set>
    <span>{{ count }}</span>
  </div>
}

<mat-list>
  <div fxLayout="column" fxLayout.gt-md="row wrap">
    @for (image of imageList; track image) {
      <div
        fxFlex.gt-md="0 1 calc(50%-10px)"
        >
      @if (image.type === 'video') {
        <iframe
          [src]="getSafeUrl(image.src)"
          class="media-item"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      } @else {
        <div class="image-wrapper">
          <button
          mat-raised-button
            [matMenuTriggerFor]="menu"
            aria-label="icon-button with menu options"
            class="menu-button"
            (click)="$event.stopPropagation()"
            >
          {{ image.title }}
          <mat-icon>share</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="above">
            <button
              mat-menu-item
              (click)="Pexels()"
              aria-label="View more on Pexels"
              >
              <mat-icon>link</mat-icon>Pexels
            </button>
            <button mat-menu-item (click)="openPricingDialog()">
              <mat-icon>collections</mat-icon>Access Full Collection
            </button>
          </mat-menu>
          <img
            src="{{ image.src }}"
            (click)="openModal(image)"
            alt="Photo of {{ image.title }}"
            loading="lazy"
            class="media-item"
          />
        </div>
      }
      </div>
    }
  </div>
</mat-list>
