.text-span {
  font-family: sans-serif;
  font-style: oblique;
}

.responsive {
  height: 500px;
  width: 100%;
}

.tiles-hover article:hover {
    /* color: rgba(77, 89, 97, 0.753); */
    background-color: rgba(222, 233, 247, 0.945);
    transform: translateY(-2%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

