.text-span {
  font-family: sans-serif;
  font-style: oblique;
}

img {
  height: 100vh;
  width: 100vw;
  aspect-ratio: 1 / 1;
}

// .highlighted-text {
//   background-image: linear-gradient(transparent 60%,#FDE9A2 60%);
//   background-size: 20% 100%;
//   background-repeat: no-repeat;
//   background-position: top center;
// }

.overlay {
  position: absolute;
  align-self: center;
  top: 0;
  bottom: 15px;
  z-index: 1;
}

i {
  color: azure;
}

// .underline {
//   color: azure;
//   display: inline-block;
//   //padding: 15px 20px;
//   position: relative;
// }

// .underline:after {
//   background: none repeat scroll 0 0 transparent;
//   bottom: 0;
//   content: "";
//   display: block;
//   height: 2px;
//   left: 50%;
//   position: absolute;
//   background: #fff;
//   transition: width 0.3s ease 0s, left 0.3s ease 0s;
//   width: 0;
// }

// .underline:hover:after {
//   width: 50%;
//   left: 23%;
// }

video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: cover;
}

.heading-video {
  font-weight: 800;
  font-size: 6vw;
  color: #bbdefb;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.circle {
  text-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;
}

.sub-heading {
  font-size: 3vw;
  color: #bbdefb;
  padding: 40px;
  font-weight: 900;
}

div {
  text-align: center;
}

.responsive {
  height: 500px;
  width: 100%;
}

// .underlinePretty {
//   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
//   background-repeat: no-repeat;
//   background-size: 100% .4em;
//   background-position: 0 88%;
//   padding-top: 5px;
//   transition: background-size 0.25s ease-in;
//   &:hover {
//     background-size: 100% 88%;
//   }
// }

$colors: linear-gradient(180deg, rgba(8, 25, 43, 1) 0%, rgb(20, 151, 174) 100%),
  linear-gradient(180deg, rgba(8, 25, 43, 1) 0%, rgb(174, 133, 20) 100%),
  linear-gradient(180deg, rgba(8, 25, 43, 1) 0%, rgb(157, 70, 79) 100%);
@for $i from 1 through length($colors) {
  .landing-default:nth-child(#{length($colors)}n + #{$i}) {
    background: nth($colors, $i);
    color: white;
    font-family: "Montserrat";
    text-align: justify;
    align-items: center;
    max-width: 400px;
    max-height: max-content;
    border-radius: 24px;
    margin: 25px 25px;
    -webkit-box-shadow: 5px 5px 15px -3px #9c9c9c;
    box-shadow: 5px 5px 15px -3px #9c9c9c;
  }
}

$colors2: linear-gradient(
    180deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 190, 252, 1) 100%
  ),
  linear-gradient(180deg, rgba(8, 25, 43, 1) 0%, rgb(130, 164, 76) 100%),
  linear-gradient(180deg, rgba(8, 25, 43, 1) 0%, rgb(166, 70, 195) 100%);
@for $i from 1 through length($colors2) {
  .landing-default2:nth-child(#{length($colors2)}n + #{$i}) {
    @extend .landing-default;
    background: nth($colors2, $i);
  }
}

.mat-landing-button {
  border-radius: 24px;
  width: 100%;
  max-width: 275px;
}

/* .headingUnderline {
  border-bottom: 2px solid currentColor;
  text-decoration-style: double;
  display: inline-flex;
  max-width: 350px;
} */

.tiles-hover div:hover {
  /* color: rgba(77, 89, 97, 0.753); */
  background-color: rgba(222, 233, 247, 0.945);
  transform: translateY(-2%);
  transition: all 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tiles-hover {
  transition: 0.75s ease;
}

.seoFab {
  padding-left: 15px;
}

.sectionUnderline {
  -webkit-box-shadow: inset 0 -6px 0 rgba(140, 207, 232, 1);
  box-shadow: inset 0 -6px 0 rgb(152, 209, 230);
}

.designImage {
  justify-content: center;
  width: 150px;
  height: 130px;
  background-image: url("/assets/hugo-list-is-empty.png");
  background-size: cover;
}

.devImage {
  @extend .designImage;
  background-image: url("/assets/mirage-come-back-later.png");
}

.productionImage {
  @extend .designImage;
  border-radius: 25px;
  background-image: url("/assets/mirage-upgrade.png");
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .titleHighlight {
  -webkit-box-shadow: inset 0 -6px 0 red;
  box-shadow: inset 0 -8px 0 rgba(140, 207, 232, 1);
} */

/* mat-card :hover {
  transform: translateY(-3%);
  transition: all 3s ease-in-out;
} */

mat-card-content {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

$colors: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 0.8718837876947654) 34%,
    rgba(252, 176, 69, 1) 100%
  ),
  linear-gradient(
    90deg,
    rgba(7, 6, 36, 0.74) 0%,
    rgba(45, 7, 95, 0.507) 66%,
    rgba(69, 112, 252, 0.616) 100%
  ),
  linear-gradient(
    142deg,
    rgba(7, 6, 36, 1) 0%,
    rgba(20, 152, 151, 1) 24%,
    rgba(29, 253, 231, 0.5553571770505077) 59%,
    rgba(42, 206, 238, 0.5133403703278187) 77%,
    rgba(33, 81, 99, 0.443) 92%,
    rgba(19, 32, 75, 0.511) 100%
  ),
  linear-gradient(90deg, rgb(39, 10, 143) 0%, rgb(161, 11, 86) 100%);
@for $i from 1 through length($colors) {
  mat-chip.mat-standard-chip:nth-child(#{length($colors)}n + #{$i}) {
    background: nth($colors, $i);
    color: white;
    cursor: pointer;
    text-align: center;
  }
}

mat-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -4px;
  padding: 10px;
}

.mat-list-item {
  color: white;
  font-family: "Montserrat";
  font-size: inherit;
}

@keyframes full-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes full-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@-moz-keyframes full-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.blob-1 {
  width: 50px;
  height: 50px;
  background-image: url("C:/Angular/GravitaWebTech/src/assets/mesh-gradient1.png");
  background-attachment: inherit;
  background-size: cover;
  border-radius: 50%;
  animation: bo1 60s infinite linear;
}
@keyframes bo1 {
  12.5% {
    border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%;
  }
  25% {
    border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
  }
  37.5% {
    border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%;
  }
  50% {
    border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%;
  }
  62.5% {
    border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%;
  }
  75% {
    border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%;
  }
  87.5% {
    border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%;
  }
}

.toggleAnimation {
  animation: full-circle 1.5s linear;
}

.redIcon {
  color: red;
  animation: full-circle 1.5s ease-out;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
