<div [@itemState] style="text-align: center">
<h1> What We Can Do for You </h1>
 <mat-divider></mat-divider>
<h3>
  At Gravita web technologies, we develop fully functional websites & Progressive Web Apps for small to medium SME's who may not have the budget to
  enlist the help of well known Web development corporations.

</h3>

  <h4>
  How Can We Offer you The Best?
  We Use the latest Web development technologies, which includes the likes of;</h4>
  <body>
  <mat-list>


 <mat-grid-list cols="2" rowHeight="200px">
   <mat-grid-tile>  <span class="fab fa-angular fa-5x" style="color: red;"></span>
  <mat-list-item> Angular Framework: Web based technology that delivers superior performance  </mat-list-item>
</mat-grid-tile>
   <mat-grid-tile><span class="fas fa-mobile fa-5x" style="color: grey"></span>
   <mat-list-item> Ionic: A mobile hybrid framework, which targets IOS/Android and any web browser, all from one code base.
   This is one of the most efficient and effective ways for you to get your voice out there! </mat-list-item></mat-grid-tile>
   <mat-grid-tile>
     <mat-icon style="color: green">android</mat-icon>
   <span class="fab fa-app-store-ios fa-2x" style="color: deepskyblue;"></span>
 <mat-list-item>
   Deployment to both Adroid and IOS App Stores, along with a web presence on Browsers through a PWA (Progressive Web App). </mat-list-item></mat-grid-tile>
   <mat-grid-tile><mat-icon class="md-36">cloud_queue</mat-icon>
    <mat-list-item> Cloud functionality, access your data from anywhere on any device. We use firebase to host and store your apps' data.
   Now is also another option to deploy your website if a database is not required.</mat-list-item></mat-grid-tile>
 </mat-grid-list>

 <button mat-raised-button color="accent" routerLink="/products">Go To Products</button>
</mat-list>
</body>

</div>
