.mat-card {
    text-align: -webkit-center;
    border-radius: 24px;
}

.demo-toolbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.demo-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.demo-full-width {
    width: 100%;
}



.remaining {
        font-size: 80%;
        position: relative;
        right: 50px;
        font-family: 'Quicksand';
        padding-left: 50px;
}


body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
    padding-top: 20px;
}



mat-toolbar-row {
    justify-content: space-between;
}

div {
  padding-top: 30px;
}

.done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}
