<script src="https://gist.github.com/mulleady96/3b16609626bbfde2aa25bff9363d4c82.js"></script>
<div fxLayout="row" fxLayoutGap="25px">

  <div fxLayout="column wrap" fxFlex="20" fxFlex.lt-sm="5" fxLayoutAlign="stretch center"
    class="left-column animated fadeInLeft">

    <button mat-raised-button class="left-column-button" mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

  </div>
  <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center center" class="centre-column">

    <div>2</div>
    <h2>Title</h2>
    <br>
    <article>
      <section class="section">
        <h3>Introduction</h3>
      </section>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam iusto totam odit eum nesciunt ipsum labore
        delectus praesentium soluta officiis porro dolorem cumque, debitis quasi magni est aspernatur, excepturi
        reiciendis.</p>
      <br>
      <pre class="language-html">
      <code class="">
        <p>javascript</p>
      </code>
    </pre>
      <br>
      Lorem ipsum dolor sit, amet consectLorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ab
      suscipit aliquam iusto nulla, porro
      deleniti facilis id repudiandae voluptatem ducimus sapiente ipsum voluptates neque quidem mollitia incidunt quae
      vero.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consequuntur totam fuga excepturi nulla fugit
      explicabo quasi et omnis reprehenderit blanditiis est perferendis, similique temporibus. Voluptates facere sed
      tenetur nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quas id quam reiciendis quae odio, molestias ad,
      magnam officia dolor accusantium ipsum quis, corporis illo necessitatibus nemo ipsam modi cum!Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. Voluptatum ab suscipit aliquam iusto nulla, porro
      deleniti facilis id repudiandae voluptatem ducimus sapiente ipsum voluptates neque quidem mollitia incidunt quae
      vero.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consequuntur totam fuga excepturi nulla fugit
      explicabo quasi et omnis reprehenderit blanditiis est perferendis, similique temporibus. Voluptates facere sed
      tenetur nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quas id quam reiciendis quae odio, molestias ad,
      magnam officia dolor accusantium ipsum quis, corporis illo necessitatibus nemo ipsam modi cum!Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. Voluptatum ab suscipit aliquam iusto nulla, porro
      deleniti facilis id repudiandae voluptatem ducimus sapiente ipsum voluptates neque quidem mollitia incidunt quae
      vero.

      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum consequuntur totam fuga excepturi nulla fugit
      explicabo quasi et omnis reprehenderit blanditiis est perferendis, similique temporibus. Voluptates facere sed
      tenetur nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quas id quam reiciendis quae odio, molestias ad,
      magnam officia dolor accusantium ipsum quis, corporis illo necessitatibus nemo ipsam modi cum!Lorem ipsum dolor
      sit amet, consectetur adipisicing elit. Voluptatum ab suscipit aliquam iusto nulla, porro
      deleniti facilis id repudiandae voluptatem ducimus sapiente ipsum voluptates neque quidem mollitia incidunt quae
      vero.


      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quas id quam reiciendis quae odio, molestias ad,
      magnam officia dolor accusantium ipsum quis, corporis illo necessitatibus nemo ipsam modi cum!etur adipisicing
      elit. Rerum consequuntur totam fuga excepturi nulla fugit
      explicabo quasi et omnis reprehenderit blanditiis est perferendis, similique temporibus. Voluptates facere sed
      tenetur nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quas id quam reiciendis quae odio, molestias ad,
      magnam officia dolor accusantium ipsum quis, corporis illo necessitatibus nemo ipsam modi cum!
    </article>
  </div>

  <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="flex end" class="right-column" fxShow="false" fxShow.gt-sm>
  </div>
</div>