/* You can add global styles to this file, and also import other style files */
@import './theme';

html, body {
  margin: 0px !important;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.45em;
  font-family: 'Montserrat';
  color: #49454d;
  margin-bottom: 0;
}

h2 {
  font-size: 1.45em;
  font-family: 'Montserrat';
  margin-top: 0;
  padding-top: 0;
}

h5 {
  font-family: 'Titillium Web';
}

i {
  padding-right: 5px;
  color: rgba(93, 144, 238, 0.733);
  display: inline-block;

}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
