@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-blue, 100);
$candy-app-accent:  mat-palette($mat-blue-grey, 900);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
// DARK Theme

// $candy-app-dark-primary: mat-palette($mat-grey);
// $candy-app-dark-accent: mat-palette($mat-yellow, A200, A100, A400);
// $candy-app-dark-warn:    mat-palette($mat-red);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

// Our dark theme
.dark-theme {
    color: $light-primary-text;
   
    $dark-primary: mat-palette($mat-grey, 800);
    $dark-accent: mat-palette($mat-deep-orange, 100, A100, A700);
    $dark-warn: mat-palette($mat-red);
    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
    $dark-lighter: rgb(53, 53, 53);
    // Bulma
   
    strong {
        color: white;
    }
    article {
        background-color: $dark-lighter;
        color: white;
    }

    h1 {
        color: white;
    }

    .example-spacer {
        /* flex: 1 1 auto;
        resize: vertical; */
        background: linear-gradient(180deg, #262727 95%);
      }

      .router-link-active {
        background-color: rgb(245, 228, 73);
        border-bottom: 2px solid rgb(245, 242, 242);
      }
      
    h2 {
        color: white;
    }

    p {
        color: white;
    }

    body {
        color: white;
    }
    
    section {
     //   background-color: $dark-lighter;
        color: white;
    }

    img {
        opacity: 1;
        background-blend-mode: darken;
    }

    mat-card {
       // max-width: 350px;
       // max-height: max-content;
        border-radius: 24px;
        margin: 25px 25px;
        -webkit-box-shadow: 5px 5px 15px -3px #9c9c9c;
        box-shadow: 5px 5px 15px -3px #9c9c9c;
    }

  

    @include angular-material-theme($dark-theme);
  }
