.price {
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #6c757d;

  font-size: 5rem;
  font-weight: 600;
  line-height: 1;
}

.price-period {
  font-size: 1.25rem;
  font-weight: 400;
  color: #6c757d;
  margin-left: 8px;
}

mat-card-content {
  padding-bottom: 8px !important;
}

.mat-list-base {
  padding-top: 0;
}

mat-card-actions {
  padding: 0 16px 16px;
}

.purchase-button {
  width: 100%;
  /* Make the button feel more substantial */
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1rem;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  align-items: center;
  gap: 12px; /* Adds a nice space between the icon and the text */
}
