.display-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 0 16px;
  line-height: 1;
  color: var(--mat-card-subtitle-text-color, var(--mat-sys-on-surface));
}

mat-card-title {
  color: var(--mat-card-subtitle-text-color, var(--mat-sys-on-surface));
}

.amount {
  font-size: 5rem;
  font-weight: 600;
}

mat-card-content {
  padding-bottom: 8px !important;
}

.mat-list-base {
  padding-top: 0;
}

mat-card-actions {
  padding: 0 16px 16px;
}

.purchase-button {
  width: 100%;
  /* Make the button feel more substantial */
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1rem;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  align-items: center;
  gap: 12px; /* Adds a nice space between the icon and the text */
}
